button, input[type="text"], select, body {
    border-radius: 6px;
    border-width: 1px;
    font-family: Courier, monospace;
    font-size: 16px;
}

input[type="text"] {
    font-family: Trebuchet MS, monospace;
}

#newPreferencesInput {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#upperButtons {
    background-color: rgb(148,168,177);
    padding-bottom: 15px;
}

#newPreferencesInput label[for="pairsCount"], #resultButton {
    margin-left: 10px;
}

#pairsCountLabel,
#pairsCount,
#newDataButton {
    margin: 10px;
}

#resultButton, #runWithStepsButton, #nextStepButton {
    margin-top: 5px;
}

#results {
    width: 40%;
    overflow-y: auto;
    max-height: 85vh;
    margin-left: 10px;
    padding-bottom: 20px;
}

#preferencesInput {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    background-color: rgb(119, 145, 202);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    height: 100vh;
    max-height: 100%;
    overflow-y: auto;
}

#menPreferences, #womenPreferences, #connectionLines {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

#connectionLines {
    height: 100%;
    background-color: #dfeaee;
}

label {
    margin-bottom: 20px;
}

input {
    margin-bottom: 5px;
}

img {
    margin-bottom: 15px;
}