button, input[type="text"], select, body, #pairsCount {
    border-radius: 6px;
    border-width: 1px;
    font-family: Courier, monospace;
    font-size: 18px;
}

input[type="text"] {
    font-family: Trebuchet MS, monospace;
    border-radius: 6px;
    border-width: 1px;
    font-size: 18px;
    width: 85%;
}

body {
    background-image: linear-gradient(to right,  #d8f6fb, #1c2332);
}

p {
    top: 15px;
    left: 10px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}
input {
    margin-bottom: 5px;
}
img {
    margin-bottom: 15px;
}

#infoButton, button {
    cursor: pointer;
}
#infoButton, button, img {
    transition: transform 0.3s ease;
}
#infoButton:hover, button:hover, img:hover {
    transform: scale(1.05);
}


#newPreferencesInput {
    position: fixed;
    width: 42%;
    top: 0;
    left: 0;
}

#upperButtons {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
}

#infoButton {
    border: none;
    outline: none;
    background: none;
    float: right;
    margin-top: 0px;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    animation-name: slideIn;
    animation-duration: 0.5s;
}

@keyframes slideIn {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#randomizeButton, #bookButton {
    margin-left: 10px;
    border: none;
    outline: none;
    background: none;
    margin-top: 7px;
    margin-right: 4px;
}

#newDataButton {
    box-shadow: 0 5px 10px 0 #556179;
}


#pairsCountLabel, #pairsCount, #newDataButton, #options {
    margin: 10px;
    top: 10px;
    margin-right: 0px;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #dddedf 0%, #ffffff 51%, #d8d8d8 100%);
}

#resultButton, #runWithStepsButton, #nextStepButton {
    margin-top: 5px;
    transition: background-color 0.1s;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(to right, #dddedf 0%, #ffffff 51%, #d8d8d8 100%);
}

#newDataButton:hover, #resultButton:hover, #runWithStepsButton:hover, #nextStepButton:hover {
    background-position: right center;
}

#resultButton:active, #runWithStepsButton:active, #nextStepButton:active, #newDataButton:active {
    background-color: #c9d7e7;
    transform: translateY(1px);
}

#randomizeButton:active, #infoButton:active, #bookButton:active {
    transform: translateY(1px);
}


#results {
    width: 95%;
    overflow-y: auto;
    max-height: 70vh;
    margin-left: 20px;
    margin-right: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}

.table {
    width: 90%;
    border: none;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 20px;
}
  
.table th, .table td {
    padding: 10px;
    font-size: 24px;
    line-height: 20px;
    color: #1c2332;
    border-top: none;
    border-bottom: 2px solid #64708b;
}
  
.table th {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: #373f52;
    border-top: none;
}


#preferencesInput {
    position: fixed;
    top: 0;
    right: 0;
    width: 58%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    height: 100vh;
    max-height: 100%;
    overflow-y: auto;
}

.glowing-icon {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px 2px rgba(237, 240, 238, 0.8);
}

#menPreferences, #womenPreferences, #connectionLines {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
}

#connectionLines {
    height: 100%;
    display: none;
    background-color: #dfeaee;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.author-info {
    position: fixed;
    bottom: 15px;
    right: 30px;
    color: rgba(225, 236, 236, 0.5);
    font-size: 14px;
}
